body, h1, h2, p, ul, li, a{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    color: #222222;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;    
}

img{
    display: block;
    max-width: 100%;
}

*{
    box-sizing: border-box;
}

.info-bg{
    background-color: #0F162C;
    color: #fff;
}

.info{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

.info p, .info a{
    margin: 0 10px 10px 10px;
}

.info a{
    color: #fff;
}
/* Menu*/

.menu-bg{
    background-color: #3F46C1;

}

.menu{
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    color: #fff;
}

.menu-logo a{
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px; 
}

.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a{
    font-size: 1.25em;
    display: block;
    padding: 10px;
}

.menu-nav a:hover{
    color: #0F162C;
}

/*Introduction*/

.intro{
    font-size: 3em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;

}

/*About*/

.about{
    border-top: 2px solid #2c70ff;
    border-bottom: 2px solid #2c70ff;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}

.about-info1{
    flex: 2 1 300px;
    margin: 0 10px;
}

.about-info1 h1{
    font-size: 3em;
    margin-bottom: .5em;
}

.about-info1 p{
    font-size: 1.25em;
    line-height: 1.2;
    margin-bottom: .5em;
    color: #7c7c7c;
}

.about-info1 span{
    font-weight: bold;  

}
.about-info2 p{
    padding: 10px;
    margin-top: 30px;
  
    font-size: 1.25em;
    line-height: 1.2;
    margin-bottom: 1em;
    color: #7c7c7c;
}

.about img{
    border-radius: 10px;
    margin: 0 10px;
    max-width: 100%;
}

/* Pictures */

.pictures{
    max-width: 960px;
    margin: 60px auto;
}

.pictures h1{
    font-size: 3em;
    margin: 0 10px 40px 10px;
}

.pictures-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

}

.pictures-item{
flex: 1 1 175px;
margin: 10px;
}

.pictures p{
    font-size: 1.25em;
    line-height: 1.2;
    margin-bottom: .5em;
    color: #7c7c7c;
    margin: 10px;
}
.pictures-item h2{
    font-size: 3em;
    color: #a4a4a4;
    background-color: #f7f7f7;
    padding: 60px 20px;
}

.purple{
    border-top: 8px solid #ae81ff;
}

.pink{
    border-top: 8px solid #f9265e;
}

.blue{
    border-top: 8px solid #66d9eb;
}

/* Experiences */

.exp{
    background-color: #f7f7f7;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.tittle-exp{
    background-color: #f7f7f7;

}
.tittle-exp h1{
    font-size: 3em;
    padding-top: 50px;
    text-align: center;
    
}
.exp-item{
    flex: 1 1 260px;
    border: 4px solid #fff;
    padding: 20px;
    margin: 10px;
}

.exp-item h2{
    font-size: 3em;
    color: #a4a4a4;
    text-align: center;
    margin-top: 20px;
}

.exp-preco{
    font-size: 1.25em;
    line-height: 1.2;
    margin-bottom: .5em;
    color: #7c7c7c;
    margin: 10px;
    padding-left: 5px;
}
.exp-item span{
    max-width: 300px;
    margin: 20px auto;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 5px 0;
    border-top: 4px solid #fff;
    border-top: 4px solid #fff;
    font-size: 2.25em;
}

.exp-item ul{
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.25em;
    font-style: italic;
    color: #7c7c7c;
}

.exp-item li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.exp-item li:after{
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: #2c70ff;
    border-radius: 50%;
}

.exp-item a{
    max-width: 300px;
    display: block;
    margin: 20px auto;
    border: 4px solid;
    color: #222222;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.25em;
    padding: 15px 0;
    text-align: center;
}

@media (max-width: 800px){
    .exp{
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .exp .exp-item:nth-child(3){
        order: -2;
    }

    .exp .exp-item:nth-child(2){
        order: -1;
    }
}

/* Tools */

.tools{
    max-width: 960px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
}

.tools-item{
    flex: 1 1 300px;
    margin: 20px 10px;
}

.tools-item h2{
    font-size: 2.25em;
    color: #a4a4a4;
    margin-bottom: 20px;
}

.tools-item h2:before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 30px;
    margin-right: 10px;
    background-color: #122ab2;
}

.tools-item:nth-of-type(3n+1) h2::before{
    background-color: #af81ff;
}

.tools-item:nth-of-type(3n+2) h2::before{
    background-color: #f9265e;
}

.tools-item:nth-of-type(3n+3) h2::before{
    background-color: #66d9eb;
}

.tools-item p{
    font-size: 1.25em;
    line-height: 1.4;
    color: #7c7c7c;
}

/* Newsletter */

.newsletter{
    background-color: #f7f7f7;
    color: 
    padding: 60px calc(100% - 960px) / 2;
    display: flex;
    flex-wrap: wrap;
}

.newsletter-info{
    flex: 1 1 240px;
    margin: 0 10px;
}

.newsletter-info h1{
    font-size: 3em;
    color: #a4a4a4;
}

.newsletter-info p{
    font-size: 1.25em;
    font-style: italic;
    max-width: 230px;
    color: #7c7c7c;
    margin-bottom: 10px;
}

.newsletter-form{
    flex: 2 1 260px;
    margin: 0 10px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.newsletter-form input{
    flex: 3 1 260px;
    font-size: 1.25em;
    color: #7c7c7c;
    font-style: italic;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    border: 4px solid #2c70ff;
    background: transparent;
    padding: 15px 10px;
    margin: 0px;
    border-radius: 0px;
}

.newsletter-form button{
    flex: 1 1 260px;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    font-size: 2.25em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #3F46C1;
    color: #fff;
    margin: 0px;
    cursor: pointer;
    border: 0px;
    padding: 15px 10px;
}

.newsletter-form button:hover{
    background-color: #0F162C;
}

@media (max-width: 600px){
    .newsletter-form button{
    font-size: 1.5em;
    }
}

/* Footer */

.footer{
    display: flex;
    background-color: #0F162C;
    height: 200px;
    align-items: center;
}

.footer p{
    flex:1;
    text-align: center;
    font-size: 2.25em;
    color: #fff;
}
